src/main/resources/FileXchangeService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<definitions targetNamespace="http://provider/" name="FileXchangeService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://provider/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://provider/" schemaLocation="FileXchangeService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="delete">
    <part name="parameters" element="tns:delete"/>
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse"/>
  </message>
  <message name="rename">
    <part name="parameters" element="tns:rename"/>
  </message>
  <message name="renameResponse">
    <part name="parameters" element="tns:renameResponse"/>
  </message>
  <message name="browse">
    <part name="parameters" element="tns:browse"/>
  </message>
  <message name="browseResponse">
    <part name="parameters" element="tns:browseResponse"/>
  </message>
  <message name="upload">
    <part name="parameters" element="tns:upload"/>
  </message>
  <message name="uploadResponse">
    <part name="parameters" element="tns:uploadResponse"/>
  </message>
  <message name="download">
    <part name="parameters" element="tns:download"/>
  </message>
  <message name="downloadResponse">
    <part name="parameters" element="tns:downloadResponse"/>
  </message>
  <portType name="FileXchange">
    <operation name="delete">
      <input wsam:Action="http://provider/FileXchange/deleteRequest" message="tns:delete"/>
      <output wsam:Action="http://provider/FileXchange/deleteResponse" message="tns:deleteResponse"/>
    </operation>
    <operation name="rename">
      <input wsam:Action="http://provider/FileXchange/renameRequest" message="tns:rename"/>
      <output wsam:Action="http://provider/FileXchange/renameResponse" message="tns:renameResponse"/>
    </operation>
    <operation name="browse">
      <input wsam:Action="http://provider/FileXchange/browseRequest" message="tns:browse"/>
      <output wsam:Action="http://provider/FileXchange/browseResponse" message="tns:browseResponse"/>
    </operation>
    <operation name="upload">
      <input wsam:Action="http://provider/FileXchange/uploadRequest" message="tns:upload"/>
      <output wsam:Action="http://provider/FileXchange/uploadResponse" message="tns:uploadResponse"/>
    </operation>
    <operation name="download">
      <input wsam:Action="http://provider/FileXchange/downloadRequest" message="tns:download"/>
      <output wsam:Action="http://provider/FileXchange/downloadResponse" message="tns:downloadResponse"/>
    </operation>
  </portType>
  <binding name="FileXchangePortBinding" type="tns:FileXchange">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="rename">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="browse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="upload">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="download">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FileXchangeService">
    <port name="FileXchangePort" binding="tns:FileXchangePortBinding">
      <soap:address location="http://localhost:9000/filexchange"/>
    </port>
  </service>
</definitions>

